body {
  background-image: url("https://images.pexels.com/photos/2088203/pexels-photo-2088203.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
  /* https://images.pexels.com/photos/1037999/pexels-photo-1037999.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2 */
  /* https://images.pexels.com/photos/4677665/pexels-photo-4677665.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2*/
  color: crimson;
  background-size: cover;
  background-repeat: no-repeat;
  margin: auto;
}
* {
  box-sizing: border-box;
}
#menu-bar button:hover {
  background-color: fuchsia;
}
#menu-bar {
  position: relative;
  width: 500px;
  height: 40px;
  margin: auto;
}
nav button {
  height: 20px;
  padding: 0 1rem;
  text-transform: uppercase;
  text-decoration: none;
  color: orange;
}
#content {
  display: grid;
  grid-template-columns: 2fr 2fr;
  grid-template-rows: 4fr;
  grid-template-areas:
    "image info"
    "instructions instructions";
  grid-gap: 1rem;
  font-size: 28px;
  margin-left: 80px;
}
#image {
  max-width: 700px;

  display: flex;
  align-items: center;
  justify-content: center;
  grid-area: "image";
}
#drink {
  font-size: 48px;
  margin-bottom: 150px;
}
@media only screen and (max-width: 550px) {
  body {
    background-image: none;
    background-color: pink;
  }
  #menu-bar {
    min-width: 550px;
  }
  nav button {
    padding: 5px;
  }
  #content {
    margin-left: 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 5%;
  }
  #image {
    max-width: 300px;
  }
  #info {
    font-size: 18px;
    max-width: 500px;
  }
}
