body {
  background-color: pink;
  background-image: url("https://images.pexels.com/photos/2088203/pexels-photo-2088203.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
  /* https://images.pexels.com/photos/1037999/pexels-photo-1037999.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2 */
  /* https://images.pexels.com/photos/4677665/pexels-photo-4677665.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2*/
  /*  */
  color: crimson;
  background-size: cover;
  background-repeat: no-repeat;
  max-height: 100vh;
  max-width: 100vw;
  margin: auto;
}

* {
  box-sizing: border-box;
}
.flex-around {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#menu-bar button:hover {
  background-color: fuchsia;
}
#menu-bar {
  position: relative;
  width: 500px;
  height: 40px;
  margin: auto;
}
nav button {
  height: 20px;
  padding: 0 1rem;
  text-transform: uppercase;
  text-decoration: none;
  color: orange;
}
#content {
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 4fr;
  grid-template-areas:
    "image info"
    "instructions instructions";
  grid-gap: 1rem;
}
#image {
  max-width: 350px;
  max-height: 350px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  grid-area: "image";
  padding: 5%;
  padding-left: 10%;
}
#info {
  padding: 50% 20%;
}
#instructions {
  grid-area: "instructions";
  /* text-align: center;
  width: 100%; */
}
@media only screen and (max-width: 550px) {
  #content {
    grid-template-columns: 1fr;
    grid-template-rows: 4fr;
    grid-template-areas: "image" "drink" "ingredients" "instructions";
  }
}
